.product-card, .cart-item {
    width: 500px;
    height: 700px;
    border: 2px solid azure;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card *, .cart-item * {
    padding: 0 5px;
}

.product-card img, .cart-item img {
    width: 150px;
    height: 150px;
}

.product-quantity {
    display: flex;
}

.add-to-cart {
    margin-top: 5px;
}